.fncb-hide
	display: none
	

.popup
	max-width: 700px
	color: $main-color-dark
	border-radius: 10px
	
	img
		display: block
		width: 220px
		max-width: 100% 
	
	h2
		color: $main-color-dark
		
	hr
		height: 0
		border: 0
		border-top: 1px solid #cccccc
		margin: 1em 0
		

	&-content
		> *:not(:last-child)
			margin-bottom: 1em 
			
	@media (max-width: 575px)
		img
			margin: 0 auto
			margin-bottom: 10px
			
		&-desc
			text-align: center



.telegram-notification
	width: 270px
	position: fixed
	right: 20px
	bottom: 20px
	text-align: center
	font-size: 22px
	font-weight: 300
	color: $main-color-dark
	
	@media (max-width: 575px)
		width: 250px
		font-size: 16px
	
	.white-box
		background-color: #fff
		

	.telegram-inner
		padding: 15px 30px
		
		@media (max-width: 575px)
			padding: 10px
		
	h4
		font-size: 24px
		font-weight: 700  
		
		@media (max-width: 575px)
			font-size: 20px 
		
	.btn
		margin-top: 15px
		
		.btn-icon:last-child  
			margin-left: 35px 
		




.site-popup-holder
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	background-color: rgba(240, 239, 243, 0.64)
	opacity: 1
	visiblity: visible
	z-index: 10 
	
	display: flex
	flex-wrap: wrap
	max-height: 100% 
	overflow: auto
	
	color: #000
	font-size: 18px 
	

.site-popup
	width: 900px
	background-color: #fff
	background-image: url(../images/back.png), url(../images/popup-bg.png)
	background-repeat: no-repeat 
	background-position: 0 0, 100% 50%
	padding: 130px 55px 40px  
	box-shadow: 0px 0px 95px 0px rgba(0, 0, 0, 0.29)
	margin: auto
	
	@media (max-width: 767px)
		background-image: url(../images/back.png)

	@media (max-width: 575px)
		background-position: 0 0
		background-size: 80% 
		padding: 20% 15px 30px
	

	&-text
		max-width: 570px
		width: 100%
		padding-left: 50px
		line-height: 1.25em 
		padding-bottom: 30px 
		position: relative
		
		@media (max-width: 767px)
			padding-left: 0 
		
		&:before
			width: 34px
			height: 28px
			content: ''
			position: absolute
			top: -28px
			left: 0
			background-image: url(../images/quote.png) 
			
			@media (max-width: 767px)
				left: -34px
				
			@media (max-width: 575px)
				display: none
		
		& > *
			&:not(:last-child)
				margin-bottom: 1em 
				

		ul
			counter-reset: stroke
			
			li
				position: relative
				padding-left: 50px
				list-style: none 
				
				&:not(:last-child)
					margin-bottom: 1em 
				
				&:before
					content: counter(stroke)
					counter-increment: stroke
					width: 26px
					height: 26px
					background-color: #EEF3FC
					border-radius: 50%
					line-height: 26px
					text-align: center 
					color: $main-color-dark 
					position: absolute
					top: 0.625em
					left: 25px
					transform: translate(-50%, -50%)
					


	&-footer

		.person-row
			display: flex
			align-items: center
			
			.person
				width: 90px
				
			.content
				padding-left: 15px
				width: -webkit-calc(100% - 90px) 
				width: calc(100% - 90px) 
			

		small
			display: block
				 

		.continue

			@media (max-width: 767px)
				margin: 30px auto 0