.fncb-hide
	display: none
	

.popup
	max-width: 500px
	color: $main-color-dark
	
	h2
		color: $main-color-dark
		text-align: center
		margin-bottom: 15px 



.telegram-notification
	width: 270px
	position: fixed
	right: 20px
	bottom: 20px
	text-align: center
	font-size: 22px
	font-weight: 300
	color: $main-color-dark
	
	@media (max-width: 575px)
		width: 250px
		font-size: 16px
	
	.white-box
		background-color: #fff
		

	.telegram-inner
		padding: 15px 30px
		
		@media (max-width: 575px)
			padding: 10px
		
	h4
		font-size: 24px
		font-weight: 700  
		
		@media (max-width: 575px)
			font-size: 20px 
		
	.btn
		margin-top: 15px
		
		.btn-icon:last-child  
			margin-left: 35px 
		